@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Anton+SC&family=Jersey+15+Charted&family=Pixelify+Sans:wght@400..700&display=swap');
@keyframes popIn {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}


.buttonGame {
  height: 8.5vh;
  color: rgba(0, 0, 0, 0.75);
  font-family: 'Amati SC', sans-serif;
  font-weight: bolder;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  max-width: calc(100% - 40px);
  /*margin-bottom: 15px;*/
}

.button-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cat-name {
  font-size: 1.2rem;
  margin: 0;
}

.cat-icon {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  margin: 5px 0;
}

.number-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.numberOfCats {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}

.buttonGame:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  color: black;
}

.buttonGame:active {
  transform: scale(0.98);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
