@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Anton+SC&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bodyGame {
    display: flex;
    flex-direction: row;
    width: 98vw;
    overflow: hidden;
}


/* Seção responsiva para telas menores */
@media (max-width: 600px) {
    .bodyGame {
        flex-direction: column; /* Muda a direção para coluna */
        overflow: visible; /* Habilita a rolagem vertical */
        height: auto;
    }

    .buttonContainer {
        max-height: 50vh; /* Limita a altura do container de botões */
        overflow: auto; /* Adiciona rolagem vertical se necessário */
    }

    /* Altura mínima para a seção do meio */
    .sectionGame {
        min-height: 33% /* Ajuste o valor conforme necessário */
    }
}
